.container {
  max-width: 100%;
  background:linear-gradient(#0d045f,#118aaf,#06191f);
  
}

h1 {
  text-align: center;
  color: #118aaf;
  margin-bottom: 20px;
}

.form-card {
  max-width: 500px;   
  margin: 0 auto 25px auto;  
  background: #cbe1eb;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0,0,0,0.1);
}

.form-group {
  margin-bottom: 10px;
}

label {
  font-weight: 600;
  font-size: 13px;
}

.form-control {
  width: 100%;
  padding: 6px;
  border: 1.5px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
}

.button-row {
  margin-top: 10px;
  text-align: center;
}

.btn-primary, .btn-danger {
  padding: 6px 14px;
  font-size: 13px;
  border-radius: 16px;
  margin: 5px;
  cursor: pointer;
  border: none;
}

.btn-primary {
  background-color: #0cc258;
  color: rgb(252, 250, 250);
}

.btn-danger {
  background-color: #d41e1e;
  color: white;
}

.table-card {
  width: 80%;
  background: #cbe1eb;
  margin: 0 auto 25px auto;  
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 6px 12px rgba(0,0,0,0.1);
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.table th, .table td {
  border: 1px solid #f7f4f4;
  padding: 8px;
}

.table th {
  background: #5a394b;
  color: white;
  text-align: left;
}
